@inherits LayoutComponentBase
<div class="page">
    <main>
        <nav class="navbar bg-primary px-4">
            <strong><a href="/" class="nav-link text-white">CARS</a></strong>
            <a href="/cart" class="nav-link text-white">
                <i class="bi bi-cart3" style="font-size: 1.5rem;"></i>
            </a>
        </nav>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
